.profile__option {
    display: flex;
    align-items: center;
    font-size: 13px;
    height: 33px;
    border-bottom: 1px solid #EAEAEA;
}

.profile__option:last-child {
    border-bottom: none;
}

.profile__option-button {
    border: 0;
    outline: none;
    cursor: pointer;
    background-color: var(--white);
}

.profile__option-exit {
    color: var(--red);
}

.profile__option-change {
    color: var(--blue);
}
