.chat-list {
  display: flex;
  width: 100%;
  height: 100vh;
}

.chats-bar {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  width: 310px;
  background-color: #FBFBFB;
}

.chats-bar__header {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.chats-bar__header-title {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 12px;
  color: #999999;
  border: 0;
  outline: none;
  background-color: inherit;
}

.chats-bar__header-title:after {
  content: url("../assets/icons/chevron-right.svg");
  margin-left: 8px;
  height: 15px;
}

.chats-bar__search-bar {
  margin-bottom: 14px;
}

.form-item {
  position: relative;
}

.form-item .error-message {
  font-size: 9px;
  display: block;
  position: absolute;
  transform: translate(0, 3px);
  color: #FF2F2F;
}

.form-item input {
  display: block;
  width: 100%;
  height: 34px;
  font-size: 13px;
  line-height: 1.4;
  color: #1E1E1E;
  background-color: transparent;
  background-image: none;
  border: none;
  border-bottom: 1px solid #3369F3;
  padding: 6px 12px 6px 0;
}

.form-item input:focus, .form-item input:active {
  outline: none;
  box-shadow: none;
  color: #1E1E1E;
}

.form-item input:focus ~ label:before {
  font-size: 9px;
  bottom: 34px;
  color: #1E1E1E;
}

.form-item input:focus ~ label:after {
  background-repeat: no-repeat;
  background-size: 1000% 1000%;
  background-image: radial-gradient(circle, #1E1E1E 10%, rgba(0, 0, 0, 0) 11%) !important;
}

.form-item input:not(:placeholder-shown) ~ label:before {
  font-size: 9px;
  bottom: 34px;
}

.form-item label:before {
  content: attr(data-label);
  color: #999999;
  font-size: 13px;
  display: block;
  position: absolute;
  left: 0;
  bottom: 6px;
  transition: all 0.15s ease-in-out;
}

.form-item label:after {
  content: "";
  position: absolute;
  display: inline-flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  transition: all 0.4s ease-in-out;
  background-position: 50%;
  background-size: 200% 200%;
}

.message {
  display: flex;
}

.message__text {
  position: relative;
  font-size: 12px;
  color: #1E1E1E;
}

.message__date {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 9px;
  color: #999999;
}

.message__content {
  max-width: 400px;
  margin-bottom: 10px;
  padding: 11px;
}

.outgoing.message {
  flex-direction: row-reverse;
}

.outgoing .message__content {
  background-color: #E4EDFD;
}

.incoming.message {
  flex-direction: row;
}

.incoming .message__content {
  background-color: #F8F8F8;
}

.not-found {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.not-found__title {
  font-size: 40px;
  color: #1E1E1E;
  margin-bottom: 20px;
}

.not-found__message {
  font-size: 20px;
  color: #1E1E1E;
  margin-bottom: 70px;
}

.not-found__back {
  cursor: pointer;
  font-size: 11px;
  color: #3369F3;
}

.profile {
  width: 100%;
  height: 100vh;
  display: flex;
}

.profile__nav {
  width: 64px;
  background-color: #FBFBFB;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile__nav-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  outline: none;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #3369F3;
}

.profile__nav-button:after {
  content: url("../assets/icons/arrow-left.svg");
}

.profile__info {
  overflow: auto;
  padding: 60px 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile__avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  min-height: 130px;
  max-height: 130px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #EFEFEF;
  margin-bottom: 21px;
}

.change-data.profile__avatar:hover {
  opacity: 0.8;
}

.profile__avatar:after {
  content: url("../assets/icons/picture.svg");
}

.profile__change-img {
  display: none;
}

.profile__name {
  font-size: 16px;
  margin-bottom: 60px;
}

.profile__container {
  width: 510px;
}

.profile__form {
  margin-bottom: 60px;
}

.profile__form-item {
  position: relative;
  height: 33px;
  border-bottom: 1px solid #EAEAEA;
  display: flex;
  align-items: center;
  font-size: 13px;
}

.profile__form-item:last-child {
  border-bottom: none;
}

.profile__form-item .error-message {
  font-size: 9px;
  display: block;
  position: absolute;
  right: 0;
  transform: translate(0, 20px);
  color: #ff1744;
}

.profile__form-text {
  white-space: nowrap;
  color: #1E1E1E;
}

.profile__form-input {
  flex-grow: 1;
  text-align: right;
  width: 100%;
  border: 0;
  outline: none;
  color: #999999;
}

.profile__form-input:disabled {
  background-color: inherit;
}

.profile__option {
  display: flex;
  align-items: center;
  font-size: 13px;
  height: 33px;
  border-bottom: 1px solid #EAEAEA;
}

.profile__option:last-child {
  border-bottom: none;
}

.profile__option-button {
  border: 0;
  outline: none;
  cursor: pointer;
  background-color: #FFFFFF;
}

.profile__option-exit {
  color: #ff1744;
}

.profile__option-change {
  color: #3369F3;
}

.profile__submit {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.search-bar {
  position: relative;
  width: 100%;
  display: flex;
  height: 32px;
  font-size: 12px;
  color: #999999;
}

.search-bar input {
  width: 100%;
  outline: none;
  border: 0;
  background-color: #EFEFEF;
  border-radius: 5px;
}

.search-bar input:focus, .search-bar input:not(:placeholder-shown) {
  background-image: url("../assets/icons/search.svg");
  background-repeat: no-repeat;
  background-position: 12px center;
  padding-left: 34px;
}

.search-bar input:placeholder-shown:not(:focus) ~ label {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar label {
  height: 19px;
  cursor: text;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.search-bar label:before {
  height: 19px;
  content: url("../assets/icons/search.svg");
}

.sign {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sign__box {
  width: 340px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.14);
  padding: 30px;
}

.sign__title {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1E1E1E;
  font-size: 20px;
}

.sign__content {
  flex-grow: 1;
}

.sign__footer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.sign__account {
  cursor: pointer;
  color: #3369F3;
  font-size: 13px;
}

.sign__submit {
  margin-bottom: 14px;
}

.user-card__list {
  overflow: auto;
}

.user-card {
  cursor: pointer;
  padding: 12px 0;
  border-top: 1px solid #EAEAEA;
  height: 70px;
  display: grid;
  column-gap: 10px;
  grid-template-columns: 1fr 190px 1fr;
}

.user-card__avatar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-card__dot {
  height: 47px;
  width: 47px;
  background-color: #EFEFEF;
  border-radius: 50%;
}

.user-card__time {
  font-size: 9px;
  color: #999999;
}

.user-card__name {
  font-size: 13px;
  margin-bottom: 4px;
}

.user-card__text {
  font-size: 12px;
  color: #999999;
}

.user-card__count {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  font-size: 11px;
  height: 20px;
  width: 20px;
  background-color: #3369F3;
  border-radius: 50%;
}

.user-card__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.chat {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

.chat__header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #EAEAEA;
}

.chat__header-icon {
  display: flex;
  align-items: center;
  font-size: 13px;
}

.chat__header-avatar {
  height: 34px;
  width: 34px;
  background-color: #EFEFEF;
  border-radius: 50%;
  margin-right: 10px;
}

.chat__content {
  height: calc(100% - 58px);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.chat__options {
  position: absolute;
  top: 18px;
  right: 0;
  border: 0;
  outline: none;
}

.chat__dialog {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: auto;
}

.chat__dialog .message:first-child {
  margin-top: 10px;
}

.chat__footer {
  padding: 11px 0;
  border-top: 1px solid #EAEAEA;
  display: flex;
  align-items: center;
}

.chat__footer-icon {
  background-color: #FFFFFF;
  outline: none;
  border: 0;
  cursor: pointer;
}

.chat__footer-icon:after {
  content: url("../assets/icons/pin.svg");
}

.chat__footer-message {
  flex-grow: 1;
  height: 32px;
  outline: none;
  margin: 0 10px;
  border: 0;
  border-radius: 30px;
  background-color: #EFEFEF;
  font-size: 12px;
  color: #999999;
  padding-left: 20px;
}

.chat__footer-submit {
  border: 0;
  outline: none;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #3369F3;
}

.chat__footer-submit:after {
  content: url("../assets/icons/arrow-right.svg");
}

.chat__date {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  padding: 20px 0;
  color: #999999;
}

.dialog {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dialog__title {
  font-size: 12px;
  color: #999999;
}

.login__field {
  margin-bottom: 32px;
}

.login__box {
  height: 450px;
}

.registration__box {
  height: 615px;
}

.registration__field {
  margin-bottom: 16px;
}

.registration__field:last-child {
  margin-bottom: 0;
}

.nav-menu .drop-down {
  font-size: 12px;
  overflow: hidden;
  width: 210px;
  background-color: white;
}

.nav-menu .drop-down.closed {
  height: 19px;
  width: 20px;
}

.nav-menu .drop-down .list {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.14);
  border-radius: 12px;
  padding: 20px 15px;
}

.nav-menu .drop-down .list li {
  cursor: pointer;
  display: flex;
  align-items: center;
  color: black;
  text-decoration: none;
  margin-bottom: 20px;
}
.nav-menu .drop-down .list li:last-child {
  margin-bottom: 0;
}

.nav-menu .drop-down .icon {
  cursor: pointer;
}

.nav-menu .drop-down .icon:after {
  content: url("../assets/icons/more.svg");
  display: flex;
  flex-direction: row-reverse;
}

.modal-dialog {
  margin: auto;
  position: absolute;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

ul[class], ol[class] {
  padding: 0;
}

body, h1, h2, h3, h4, p, ul[class], ol[class], li, figure, figcaption, blockquote, dl, dd {
  margin: 0;
}

ul[class], ol[class] {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

input, button, textarea, select {
  font: inherit;
}

.default-button {
  outline: none;
  border: none;
  cursor: pointer;
  min-height: 37px;
  max-height: 37px;
  width: 280px;
  border-radius: 8px;
  color: #FFFFFF;
  background-color: #3369F3;
  font-size: 13px;
  font-style: normal;
  display: flex;
  align-items: center;
  justify-content: center;
}

.default-button:disabled {
  cursor: default;
  background-color: #b8b8b8;
}

.default-button:disabled.default-button:hover, .default-button:disabled.default-button:active {
  opacity: 1;
}

.default-button:hover, .default-button:active {
  opacity: 0.7;
}
