html {
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

ul[class], ol[class] {
    padding: 0;
}

body, h1, h2, h3, h4, p, ul[class], ol[class], li, figure, figcaption, blockquote, dl, dd {
    margin: 0;
}

ul[class], ol[class] {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

input, button, textarea, select {
    font: inherit;
}

:root {
    --blue: #3369F3;
    --white: #FFFFFF;
    --black: #1E1E1E;
    --red: #ff1744;
    --grey: #999999;
    --light-grey: #FBFBFB;

    --large: 20px;
    --medium: 13px;
    --small: 9px;
}

.default-button {
    outline: none;
    border: none;
    cursor: pointer;
    min-height: 37px;
    max-height: 37px;
    width: 280px;
    border-radius: 8px;
    color: var(--white);
    background-color: var(--blue);
    font-size: var(--medium);
    font-style: normal;
    display: flex;
    align-items: center;
    justify-content: center;
}

.default-button:disabled {
    cursor: default;
    background-color: #b8b8b8;
}

.default-button:disabled.default-button:hover, .default-button:disabled.default-button:active {
    opacity: 1;
}

.default-button:hover, .default-button:active {
    opacity: .7;
}
