.login {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login__box {
    height: 450px;
    width: 340px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.14);
    padding: 30px;
}

.login__title {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--black);
    font-size: var(--large);
}

.login__login-field {
    margin-bottom: 32px;
}

.login__content {
    flex-grow: 1;
}

.login__footer {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.login__account {
    cursor: pointer;
    color: var(--blue);
    font-size: var(--medium);
}

.login__submit {
    margin-bottom: 14px;
}
