html {
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
}

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

:root {
    --blue: #3369F3;
    --white: #FFFFFF;
    --black: #1E1E1E;
    --red: #ff1744;
    --grey: #999999;

    --large: 20px;
    --small: 13px;
}

.default-button {
    height: 37px;
    width: 280px;
    border-radius: 8px;
    color: var(--white);
    background-color: var(--blue);
    font-size: var(--small);
    font-style: normal;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}
